<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="inetBankingV1">
    <listeners>
        <listener class-name="org.inetbanking.utilities.Reporting"/>
    </listeners>

    <test name="Ecommerce_Test">
        <parameter name="browser" value="chrome"/>

        <classes>

            <class name="org.inetbanking.tests.RegistrationTest"/>
            <class name="org.inetbanking.tests.LoginTest"/>
            <class name="org.inetbanking.tests.LoginDDT"/>


        </classes>
    </test>
</suite>